.todos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #F8EDE3;
    color: #85586F;
    font-size: 13px;
    font-weight: 500;
    padding: 8px 15px;
    margin-top: 15px;
}

.todos > input {
    background-color: transparent;
    color: #85586F;
    font-size: 13px;
    letter-spacing: 1.5px;
}

.todos > div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: wrap;
    gap: 10px;
    background-color: transparent transparent;
}

.todos > div button {
    cursor: pointer;
}

.todos > div button > svg {
    font-size: 18px;
    color: #85586F;
}